<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: blueviolet;
            height: max-content;
            
        }
    </style>
</head>
<body>
    <center>

    <form method="POST">
        <label for="">username</label><br>
        <input name="username" type="text"><br><br>
        <label for="">mobile</label><br>
        <input name="mobile" type="text"><br><br>
        <label for="">address</label><br>
        <input name="address" type="text"><br><br>
        <label for="">email</label><br>
        <input name="email" type="text"><br><br>
        <label for="">password</label><br>
        <input name="password" type="text"><br><br>
        <button>submit</button>
    </form>
    </center>

    
</body>
</html>